/*
 * Copyright (c) 2020, Roberto Schiavelli Júnior - All Rights Reserved
 * Unauthorized copying of this file (content included) or any other within this project, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Roberto Schiavelli Júnior
 * Last time modified: 15/06/2020 08:32.
 */

@charset "UTF-8";
@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    -webkit-filter: blur(4px);
    transform: scale(2);
    opacity: 0;
    filter: blur(4px);
  }
  100% {
    -webkit-transform: scale(1);
    -webkit-filter: blur(0px);
    transform: scale(1);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    -webkit-filter: blur(4px);
    transform: scale(2);
    opacity: 0;
    filter: blur(4px);
  }
  100% {
    -webkit-transform: scale(1);
    -webkit-filter: blur(0px);
    transform: scale(1);
    opacity: 1;
    filter: blur(0px);
  }
}

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform: scaleY(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform: scaleY(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    -webkit-transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    -webkit-transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@font-face {
  src: url("../fonts/opensans-regular.eot") format("embedded-opentype");
  src: local("Open Sans Regular"), url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff"), url("../fonts/opensans-regular.ttf") format("truetype");
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/opensans-semibold.eot") format("embedded-opentype");
  src: local("Open Sans Semi Bold"), url("../fonts/opensans-semibold.woff2") format("woff2"), url("../fonts/opensans-semibold.woff") format("woff"), url("../fonts/opensans-semibold.ttf") format("truetype");
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url("../fonts/opensans-semibolditalic.eot") format("embedded-opentype");
  src: local("Open Sans Semi Bold Italic"), url("../fonts/opensans-semibolditalic.woff2") format("woff2"), url("../fonts/opensans-semibolditalic.woff") format("woff"), url("../fonts/opensans-semibolditalic.ttf") format("truetype");
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
}

@font-face {
  src: url("../fonts/opensans-bold.eot") format("embedded-opentype");
  src: local("Open Sans Bold"), url("../fonts/opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff"), url("../fonts/opensans-bold.ttf") format("truetype");
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
}

@font-face {
  src: url("../fonts/opensans-bolditalic.eot") format("embedded-opentype");
  src: local("Open Sans Bold Italic"), url("../fonts/opensans-bolditalic.woff2") format("woff2"), url("../fonts/opensans-bolditalic.woff") format("woff"), url("../fonts/opensans-bolditalic.ttf") format("truetype");
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
}

@font-face {
  src: url("../fonts/opensans-extrabold.eot") format("embedded-opentype");
  src: local("Open Sans Extra Bold"), url("../fonts/opensans-extrabold.woff2") format("woff2"), url("../fonts/opensans-extrabold.woff") format("woff"), url("../fonts/opensans-extrabold.ttf") format("truetype");
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
}

@font-face {
  src: url("../fonts/opensans-extrabolditalic.eot") format("embedded-opentype");
  src: local("Open Sans Extra Bold Italic"), url("../fonts/opensans-extrabolditalic.woff2") format("woff2"), url("../fonts/opensans-extrabolditalic.woff") format("woff"), url("../fonts/opensans-extrabolditalic.ttf") format("truetype");
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
}

@font-face {
  src: url("../fonts/opensans-italic.eot") format("embedded-opentype");
  src: local("Open Sans Italic"), url("../fonts/opensans-italic.woff2") format("woff2"), url("../fonts/opensans-italic.woff") format("woff"), url("../fonts/opensans-italic.ttf") format("truetype");
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/opensans-light.eot") format("embedded-opentype");
  src: local("Open Sans Light"), url("../fonts/opensans-light.woff2") format("woff2"), url("../fonts/opensans-light.woff") format("woff"), url("../fonts/opensans-light.ttf") format("truetype");
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url("../fonts/opensans-lightitalic.eot") format("embedded-opentype");
  src: local("Open Sans Light Italic"), url("../fonts/opensans-lightitalic.woff2") format("woff2"), url("../fonts/opensans-lightitalic.woff") format("woff"), url("../fonts/opensans-lightitalic.ttf") format("truetype");
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
}

.alert {
  font-style: italic;
  font-weight: 300;
}

.alert {
  -webkit-animation-name: jello-vertical;
  -webkit-animation-duration: .9s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
  -webkit-animation-direction: normal;
  -webkit-animation-play-state: running;
  -webkit-animation-timing-function: ease;
  position: relative;
  animation-name: jello-vertical;
  animation-duration: .9s;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  cursor: default;
  margin-top: 0.50rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: .50rem .50rem;
  height: 100%;
  font-size: 1rem;
}

.alert--danger {
  border-color: #f5c6cb;
  background-color: #f8d7da;
  color: #721c24;
}

.alert--success {
  border-color: #c3e6cb;
  background-color: #d4edda;
  color: #155724;
}

.button {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -webkit-transition: .2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  transition: .2s ease;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #A2A2A2;
  background-color: transparent;
  padding: 2px 15px;
  color: white;
  font-family: "Open Sans";
  font-size: 17px;
  text-align: center;
}

.button--small-rounded-50 {
  border-radius: 50px;
}

.button--logout {
  margin-left: 26px;
  border-radius: 50px;
}

.button--table {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 5px;
  border-radius: 50px;
}

.button--large {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 45.3%;
  height: 38.50px;
}

.button:focus, .button:hover {
  -webkit-box-shadow: inset 0 0 0 2em #EF473A;
  outline: none;
  box-shadow: inset 0 0 0 2em #EF473A;
  border-color: #EF473A;
}

.eae {
  margin: 0;
  padding: 0;
}

.eae--full {
  -o-object-fit: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.info_block {
  -webkit-box-shadow: 0 9px 6px rgba(0, 0, 0, 0.16);
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialised;
  -webkit-transition: all .25s ease-out;
  -ms-flex-item-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  -webkit-box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  flex-flow: column wrap;
  align-self: center;
  backface-visibility: hidden;
  transition: all .25s ease-out;
  box-sizing: border-box;
  margin-top: 20px;
  box-shadow: 0 9px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  background-color: #424549;
  width: 40%;
  min-width: 284px;
  height: auto;
  color: white;
}

.info_block--mini {
  max-width: 280px;
}

.info_block .info_block__row {
  -webkit-box-sizing: border-box;
  -webkit-transition: .2s ease;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  transition: .2s ease;
  cursor: default;
  box-sizing: border-box;
  padding: 10px 15px;
  width: 100%;
}

.info_block .info_block__row .info_block__header {
  -ms-flex-item-align: start;
  -webkit-box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  display: block;
  flex: 1 0 auto;
  align-self: flex-start;
  box-sizing: border-box;
  font-weight: bold;
}

.info_block .info_block__row .info_block__data {
  -ms-flex-item-align: end;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  display: block;
  align-self: flex-end;
  box-sizing: border-box;
  max-width: 50%;
  text-align: right;
}

.info_block .info_block__row:not(:last-child) {
  border-bottom: 1px rgba(162, 162, 162, 0.32) solid;
}

.info_block .info_block__row:hover {
  background-color: #393b41;
  color: #EF473A;
}

.input {
  -webkit-box-sizing: border-box;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  box-sizing: border-box;
  border: 1px solid #A2A2A2;
  border-radius: 0;
  border-bottom-color: black;
  padding: 0.5em;
  width: 100%;
  height: 32px;
  font-family: "Open Sans";
}

.input--rounded {
  border-radius: 5px;
}

.input[type="password"] {
  font: large "Open Sans";
  letter-spacing: 1px;
}

.input:hover {
  border-color: black;
}

.input:focus {
  outline: 1px solid #EF473A;
  border-color: #EF473A;
}

.select {
  -webkit-box-sizing: border-box;
  -webkit-transition: .2s border-color ease-out;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: .2s border-color ease-out;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #A2A2A2;
  border-radius: 0;
  border-bottom-color: black;
  padding: 0.5em;
  width: 100%;
  height: 32px;
  font-family: "Open Sans";
}

.select--rounded {
  border-radius: 5px;
}

.select:hover {
  border-color: black;
}

.select:focus {
  outline: 1px solid #EF473A;
  border-color: #EF473A;
}

.select::-ms-expand {
  display: none;
}

@media screen and (min-width: 0\0) {
  .select select {
    background: none\9;
    padding: 5px\9;
  }
}

.footer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  -webkit-box-sizing: border-box;
  -ms-flex-item-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-self: flex-end;
  vertical-align: middle;
  box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 28px;
  border-radius: 15px 15px 0 0;
  background-color: #282B30;
  width: 100%;
  height: 40px;
}

.footer .footer__copyright {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: inherit;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: inherit;
  justify-content: space-between;
  cursor: default;
  box-sizing: border-box;
  margin: 0 auto;
  margin-right: 20px;
  margin-left: 20px;
  width: 100%;
  color: rgba(255, 255, 255, 0.65);
  font-size: 15px;
}

.footer .footer__copyright p {
  margin: 0;
}

.form {
  -webkit-box-shadow: 0 9px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 9px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  background-color: #37393B;
  width: 447px;
  height: auto;
}

.form .form__row {
  -webkit-box-sizing: border-box;
  -webkit-transition: inherit;
  transition: inherit;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 18px;
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
}

.form .form__row a {
  color: white;
  text-decoration: underline;
}

.form .form__row label {
  -webkit-transition: .2s ease-out;
  display: block;
  transition: .2s ease-out;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

.form .form__row label:focus-within {
  color: #EF473A;
}

.form .form__row--medium {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 23px;
  padding-bottom: 28.2px;
  text-align: center;
}

.form .form__row--large {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 55.8px;
  padding-bottom: 28.2px;
  text-align: center;
}

.form .form__row--center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form .form__alert {
  -webkit-box-sizing: border-box;
  position: relative;
  box-sizing: border-box;
  margin-top: .30rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.form:focus-within {
  -webkit-box-shadow: 0px 9px 1em rgba(0, 0, 0, 0.8);
  -webkit-transform: scale(1.025) translateZ(0);
  display: table;
  transform: scale(1.025) translateZ(0);
  box-shadow: 0px 9px 1em rgba(0, 0, 0, 0.8);
}

@media screen and (prefers-reduced-motion: reduce) {
  .form:focus-within {
    -webkit-box-shadow: none;
    -webkit-transform: none;
    transform: none;
    box-shadow: none;
  }
}

.header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  margin: 0;
  background-color: #151516;
  padding: 10px 2%;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  font-size: 1em;
}

.header .header__logo {
  -webkit-transition: .2s ease;
  transition: .2s ease;
  cursor: default;
  margin-right: auto;
  color: #d1d1d1;
  font-weight: 800;
}

.header .header__logo:hover {
  color: #EF473A;
}

.nav {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  font-family: inherit;
}

.nav .nav__link-container {
  -webkit-box-sizing: border-box;
  display: inline-block;
  box-sizing: border-box;
  margin-left: .8em;
  text-decoration: none;
}

.nav .nav__link {
  -webkit-box-sizing: border-box;
  -webkit-transition: .2s ease;
  display: block;
  position: relative;
  transition: .2s ease;
  box-sizing: border-box;
  color: white;
  text-decoration: none !important;
}

.nav .nav__link:hover, .nav .nav__link:focus {
  outline: none;
  color: #EF473A;
}

.nav .nav__link--active::after {
  -webkit-box-sizing: border-box;
  -webkit-animation: scale-left .5s ease 0s 1;
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;
  animation: scale-left .5s ease 0s 1;
  box-sizing: border-box;
  border-radius: 50px;
  background: #EF473A;
  height: 3px;
  content: '';
}

.nav ul {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: inherit;
  padding: inherit;
  list-style: none;
}

@-webkit-keyframes scale-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes scale-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.panel {
  -webkit-box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  margin: auto;
  background-color: #1E2124;
  width: 100%;
  min-width: 450px;
  max-width: 1280px;
  height: 100%;
  min-height: 100vh;
}

.panel .panel__main {
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
  -ms-flex-direction: inherit;
  -webkit-box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  display: inherit;
  position: relative;
  flex: 1;
  flex-direction: inherit;
  box-sizing: border-box;
}

.panel .panel__title, .panel .panel__subtitle {
  cursor: default;
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #EF473A;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.panel .panel__subtitle {
  padding-top: 0;
  font-size: 30px;
  font-weight: normal;
}

.panel .panel__center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 20px;
}

.panel .panel__img-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  align-self: center;
  cursor: default;
  width: auto;
  height: auto;
  user-select: none;
}

.panel .panel__button-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-item-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  vertical-align: middle;
  margin-bottom: 30px;
  width: 500px;
}

.panel #last-item {
  margin-bottom: 28px;
}

.table {
  -webkit-box-sizing: border-box;
  -webkit-box-shadow: 0 9px 6px rgba(0, 0, 0, 0.16);
  -webkit-animation: fade-in 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  position: relative;
  animation: fade-in 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 9px 6px rgba(0, 0, 0, 0.16);
  border: 1px transparent solid;
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 63%;
  height: auto;
  text-align: left;
}

.table--large {
  width: 63%;
}

.table .table__head {
  background-color: #2e3136;
  color: white;
  font-weight: bold;
}

.table .table__body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
}

.table .table__body .table__row {
  -webkit-transition: .2s ease;
  transition: .2s ease;
  background-color: #424549;
}

.table .table__body .table__row:hover {
  background-color: #393b41;
  color: #EF473A;
}

.table .table__row {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
}

.table .table__row td {
  -webkit-box-sizing: border-box;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 10px 15px;
  max-width: 235px;
  text-align: justify;
}

.table .table__row th {
  padding: 10px 15px;
}

.table .table__row:nth-child(even) {
  background-color: #4e5055;
}

.table .table__row:last-child th:first-child {
  border-top-left-radius: 10px;
}

.table .table__row:last-child th:last-child {
  border-top-right-radius: 10px;
}

.table .table__row:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.table .table__row:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.table .table--center {
  vertical-align: middle;
  text-align: center !important;
}

@media screen and (max-width: 1280px) {
  .table {
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: none;
    display: block;
    box-sizing: border-box;
    box-shadow: none;
  }
  .table .table, .table .table__body, .table .table__row, .table .table__row td {
    display: block;
    width: 100%;
    max-width: none;
  }
  .table .table__head {
    display: none;
  }
  .table .table__row {
    margin-bottom: 10px;
    border: 1px transparent solid;
    border-radius: 10px;
    height: auto;
  }
  .table .table__row td {
    position: relative;
    padding-left: 50%;
    text-align: right !important;
  }
  .table .table__row td::before {
    position: absolute;
    left: 0;
    vertical-align: middle;
    padding-left: 2%;
    width: 50%;
    font-weight: bold;
    text-align: left;
    content: attr(data-label);
  }
  .table .table__row td:not(:last-child) {
    border-bottom: 1px rgba(162, 162, 162, 0.32) solid;
  }
  .table .table__action-container-responsive {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    margin-left: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .table .table__action-container-responsive a {
    margin: 0;
  }
  .table .table__action-container-responsive a:last-child {
    margin-top: 10px;
  }
}

#add-user-form {
  margin-top: 0px;
  margin-bottom: 28px;
}

.dashboard--alert {
  display: block;
  margin: 0 auto;
  padding-bottom: 1%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 800px;
  overflow: hidden;
}

.error-403__doge-wrapper {
  -ms-flex-item-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  -webkit-animation: fade-in 1.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  animation: fade-in 1.2s ease;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#error-403__doge-talk {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-transition: .2s color ease;
  display: block;
  align-self: center;
  order: -1;
  transition: .2s color ease;
  cursor: default;
  margin: 0;
  padding: 0;
  padding-top: 2%;
  padding-bottom: 1%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20px;
  text-align: center;
}

#error-403__doge-talk:hover {
  color: red;
}

#error-403__doge-img {
  background-image: url("../../../images/403-doge.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
}

#error-403__doge-img:hover {
  -webkit-animation: vibrate 0.1s linear infinite both;
  animation: vibrate 0.1s linear infinite both;
  background-image: url("../../../images/403-doge_angry.png");
}

#error-403__doge-img:hover ~ #error-403__doge-talk {
  -webkit-transition: none;
  -webkit-animation: vibrate 0.1s linear infinite both;
  animation: vibrate 0.1s linear infinite both;
  transition: none;
  font-size: 0px;
}

#error-403__doge-img:hover ~ #error-403__doge-talk::after {
  color: red;
  font-size: 20px;
  line-height: normal;
  content: "I SAID TO BACK MUCH OFF!!";
}

#error-403__doge-img:hover ~ #error-403__redir-button {
  -webkit-transition: none;
  -webkit-animation: vibrate 0.1s linear infinite both !important;
  animation: vibrate 0.1s linear infinite both !important;
  transition: none;
  border-color: red !important;
  font-size: 0px;
}

#error-403__doge-img:hover ~ #error-403__redir-button::after {
  -webkit-transition: none;
  transition: none;
  color: red;
  font-size: 40px;
  content: "PLEASE DON'T KILL ME";
}

#error-403__redir-button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.error-404__doge-wrapper {
  -ms-flex-item-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  -webkit-animation: fade-in 1.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  animation: fade-in 1.2s ease;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#error-404__doge-talk {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-transition: .2s color ease;
  display: block;
  align-self: center;
  order: -1;
  transition: .2s color ease;
  cursor: default;
  margin: 0;
  padding: 0;
  padding-top: 2%;
  padding-bottom: 1%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20px;
  text-align: center;
}

#error-404__doge-talk:hover {
  color: blue;
}

#error-404__doge-img {
  background-image: url("../../../images/404-doge_sad.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
}

#error-404__doge-img:hover {
  -webkit-animation: jello-horizontal 0.8s ease infinite both;
  animation: jello-horizontal 0.8s ease infinite both;
  background-image: url("../../../images/404-doge_headpat.png");
}

#error-404__doge-img:hover ~ #error-404__doge-talk {
  -webkit-transition: none;
  -webkit-animation: jello-horizontal 0.8s ease infinite both;
  animation: jello-horizontal 0.8s ease infinite both;
  transition: none;
  font-size: 0px;
}

#error-404__doge-img:hover ~ #error-404__doge-talk::after {
  color: lime;
  font-size: 20px;
  line-height: normal;
  content: "MUCH LOVE!";
}

#error-404__doge-img:hover ~ #error-404__redir-button {
  -webkit-transition: none;
  -webkit-animation: jello-horizontal 0.8s ease infinite both !important;
  animation: jello-horizontal 0.8s ease infinite both !important;
  transition: none;
  border-color: lime !important;
  font-size: 0px;
}

#error-404__doge-img:hover ~ #error-404__redir-button::after {
  -webkit-transition: none;
  transition: none;
  color: lime;
  font-size: 40px;
  content: "ヽ(*⌒▽⌒*)ﾉ";
}

#error-404__redir-button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.error-500__doge-wrapper {
  -ms-flex-item-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  -webkit-animation: fade-in 1.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  animation: fade-in 1.2s ease;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#error-500__doge-talk {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-transition: .2s color ease;
  display: block;
  align-self: center;
  order: -1;
  transition: .2s color ease;
  cursor: default;
  margin: 0;
  padding: 0;
  padding-top: 2%;
  padding-bottom: 1%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20px;
  text-align: center;
}

#error-500__doge-talk:hover {
  color: cyan;
}

#error-500__doge-img {
  background-image: url("../../../images/500-doge_dev.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
}

#error-500__doge-img:hover {
  -webkit-animation: heartbeat 2s ease-in-out infinite both;
  animation: heartbeat 2s ease-in-out infinite both;
  background-image: url("../../../images/500-doge_dev_baker.png");
}

#error-500__doge-img:hover ~ #error-500__doge-talk {
  -webkit-transition: none;
  -webkit-animation: heartbeat 2s ease-in-out infinite both;
  animation: heartbeat 2s ease-in-out infinite both;
  transition: none;
  font-size: 0px;
}

#error-500__doge-img:hover ~ #error-500__doge-talk::after {
  color: blue;
  font-size: 20px;
  line-height: normal;
  content: "Im too dumb, I dunno how to code. Will just commit not live";
}

#error-500__doge-img:hover ~ #error-500__redir-button {
  -webkit-transition: none;
  -webkit-animation: heartbeat 2s ease-in-out infinite both !important;
  animation: heartbeat 2s ease-in-out infinite both !important;
  transition: none;
  font-size: 0px;
}

#error-500__doge-img:hover ~ #error-500__redir-button::after {
  -webkit-transition: none;
  transition: none;
  font-size: 40px;
  content: "YES! GO COMMIT DIE!!!";
}

#error-500__redir-button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.online_users__wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-sizing: border-box;
  -ms-flex-item-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-self: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 15px;
  width: 80%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  max-width: 80%;
  height: 100%;
  max-height: 800px;
  overflow: visible;
  overflow-y: scroll;
}

.online_users__wrapper div {
  margin: auto;
  margin-top: 0;
}

.online_users__wrapper > div:nth-child(even) {
  background-color: #4e5055;
}

.online_users__wrapper > div:not(:last-of-type) {
  margin-bottom: 10px;
}

.online_users__wrapper::-webkit-scrollbar {
  width: 10px;
}

.online_users__wrapper::-webkit-scrollbar-thumb {
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 6px;
  background: #0d0d0e;
  overflow: visible;
}

.online_users__wrapper::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #282B30;
}

* {
  font-family: 'Open Sans';
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #282B30;
}

strong {
  font-weight: 800;
}

a {
  text-decoration: none;
}

.main {
  margin-bottom: 40px;
  width: 100%;
  height: auto;
}

.CRUDzin-Slogan {
  cursor: default;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  white-space: normal;
}

.CRUDzin-Slogan h1 {
  margin: 0;
}

.CRUDzin-Slogan .CRUD {
  color: #EF473A;
  font-size: 118px;
}

.CRUDzin-Slogan .zin {
  color: #EF3A3A;
  font-size: 71px;
}

.CRUDzin-Slogan .slogan {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  width: 100%;
  color: #FF6C40;
  font-size: 34px;
  line-height: 0px;
}

.orichalcos-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  overflow: visible;
  user-select: none;
}

.orichalcos-container img {
  -webkit-user-drag: none;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  display: block;
  position: relative;
  align-self: center;
}

.orichalcos-container .orichalcos-card-container {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  display: block;
  position: relative;
  align-self: center;
  z-index: 10;
  width: 208px;
  height: 301px;
  overflow: inherit;
}

.orichalcos-container .orichalcos-card-container img {
  -webkit-animation: float 6s ease-in-out infinite, card-flip 4.5s linear infinite;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  animation: float 6s ease-in-out infinite, card-flip 4.5s linear infinite;
}

.orichalcos-container .orichalcos-card-front {
  -webkit-backface-visibility: hidden;
  z-index: 3;
  backface-visibility: hidden;
  height: 301px;
}

.orichalcos-container .orichalcos-card-back {
  z-index: 2;
  width: 208px;
  height: 301px;
}

.orichalcos-container .orichalcos-circle-container {
  -ms-flex-item-align: center;
  -webkit-box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  align-self: center;
  z-index: 0;
  box-sizing: border-box;
  width: 405px;
  height: 100px;
  overflow: inherit;
}

.orichalcos-container .orichalcos-circle {
  display: block;
  position: absolute;
  bottom: 30px;
  z-index: 0;
  width: 405px;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-transition: all .5s;
  opacity: 1;
  transition: all .5s;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#833ab4), color-stop(#fd1d1d), to(#fcb045));
  background: linear-gradient(#833ab4, #fd1d1d, #fcb045);
  overflow: visible;
}

/* SCROLL BAR END */
/* ANIMATIONS */
@-webkit-keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    top: 0px;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    top: -20px;
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    top: 0px;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  }
}
@keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    top: 0px;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    top: -20px;
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    top: 0px;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  }
}

@-webkit-keyframes card-flip {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@keyframes card-flip {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

/* ANIMATIONS END */
/* RESPONSIVE RULES */
@media screen and (max-width: 650px) {
  .CRUDzin-Slogan .slogan {
    font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  .CRUDzin-Slogan .slogan {
    font-size: 15px;
  }
}

/* RESPONSIVE RULES END */